<p>Hola {{ name }},</p>
<p>Gracias por registrarte. Por favor, verifica tu dirección de correo electrónico haciendo clic en el siguiente enlace:</p>
<p><a href="{{ url }}">Verificar Email</a></p>
<p>Si no te registraste, por favor ignora este correo.</p>
<p>Este enlace expirará en {{ expiration }}.</p>