<p>Hola {{ name }},</p>
<p>Recibimos una solicitud para restablecer tu contraseña. Haz clic en el siguiente enlace para continuar:</p>
<p><a href="{{ url }}">Restablecer Contraseña</a></p>
<p>Si no solicitaste esto, por favor ignora este correo.</p>
<p>Este enlace expirará en {{ expiration }}.</p>